body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html {
  font-size: 1rem;
}
.heading {
  font-size: 3rem;
  text-align: center;
}
h2 {
  font-size: 1em;
}
h3 {
  font-size: 2rem;
  text-align: center;
}
.h11 {
  font-size: 1.5em;
}
.h12 {
  font-size: 24px;
}
hr {
  margin-top: 50px;
}
.plotly-chart-test {
  overflow-x: scroll;
}
@media only screen and (min-width: 1300px) {
  .plotly-chart-test {
    overflow-x: hidden;
  }
}
/* webp */
.hero {
  height: 100vh;
  background-size: cover;
  position: relative;
}
.inner {
  position: absolute;
  color: #fff;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.37);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.webp .hero {
  background-image: url(../images/test.webp);
}
.no-webp .hero,
.no-js .hero {
  background-image: url(../images/testjpg.jpg);
}

.cardswebp {
  max-width: 1200px;
  width: 80vw;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto;
  padding: 5% 0;
  font-size: 1.5em;
  text-align: center;
}

.card {
  opacity: 0;
  transition: opacity 0.5s ease-in;
}
.card.appear {
  opacity: 1;
}
.card:first-child {
  padding-right: 20px;
}
.card:last-child {
  animation: upin 1.5s linear;
}
.card img {
  max-width: 500px;
}
.svg-img {
  text-align: center;
}
#O {
  animation: rotate 2s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}
#X {
  animation: bounce 2s infinite linear;
  transform-origin: center;
  transform-box: fill-box;
}
.github-link {
  text-align: center;
  padding-bottom: 40px;
}
.github-link a {
  color: #000;
}
@keyframes rotate {
  from {
    transform: rotateZ(0deg);
  }
  to {
    transform: rotateZ(360deg);
  }
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes upin {
  0% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}
